/* styles for listing code */
ol.code-list {
	List-style-type: none;
	margin-left:0; /* Remove the default left margin */
	padding-left:0; /* Remove the default left padding */
}

ol.code-list  pre {
	padding:0 10px; 
	margin-top:0;
	margin-bottom:0;
	border:none;
	border-radius:0;
}

ol.code-list pre code.hljs{
	padding:0px;
}


/* set the top and bottom padding for the first and last line of code */

,
ol.code-list li:first-child pre{
	padding-top:12px;
}

ol.code-list li:first-child::before{
	padding-top:6px;
}

ol.code-list li:last-child pre{
	padding-bottom:6px;
}